.portfolio__item {
  margin-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;
}

.portfolio__item:last-of-type {
  margin-bottom: 0px;
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 9px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: black;

  transition: color .2s ease-out;
}

.portfolio__link:hover {
  color: rgba(0, 0, 0, .8);
}

.portfolio__link:hover .portfolio__arrow {
  color: rgba(0, 0, 0, .8);
}

.portfolio__item:last-of-type .portfolio__link {
  margin-bottom: 0px;
}

/* Это декорация */
.portfolio__arrow {
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: black;
  cursor: default;
  user-select: none;
  z-index: -1;
}

@media screen and (max-width: 961px) {
  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__arrow {
    font-size: 28px;
    line-height: 60px;
  }
}

@media screen and (max-width: 601px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 19px;
  }

  .portfolio__arrow {
    font-size: 18px;
    line-height: 28px;
  }
}
