.auth__submit {
  width: 100%;
  min-height: 45px;
  margin-top: auto;

  border: none;
  background-color: black;
  cursor: pointer;
  border-radius: 3px;

  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: white;

  transition: background-color .3s ease-out;
}

.auth__submit:hover {
  background-color: rgba(0, 0, 0, .95);
}

.auth__submit_disabled {
  background-color: rgba(0, 0, 0, .6);
  cursor: default;
}

.auth__submit_disabled:hover {
  background-color: rgba(0, 0, 0, .6);
}
