.movies-card {
  max-width: 1200px;
  padding: 70px 30px 10px;
  box-sizing: border-box;
}

.movies-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.movies-card__item {
  margin-bottom: 40px;
}

.movies-card__item:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 769px) {
  .movies-card {
    padding-top: 60px;
  }
}

@media screen and (max-width: 601px) {
  .movies-card {
    padding: 40px 10px 20px;
  }

  .movies-card__item {
    margin-bottom: 20px;
  }
}
