.user-profile__link {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FF4062;
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin: 0 auto;
}

@media screen and (max-width: 321px) {
  .user-profile__link {
    font-size: 12px;
    line-height: 15px;
  }
}
