.header {
  padding: 18px 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  box-sizing: border-box;
}

.header__link-logo {
  width: 100%;
  max-width: 38px;
  height: auto;

  text-decoration: none;
  color: black;
}

.header__logo {
  object-fit: cover;
}
