.about-me {
  flex-direction: column;
  max-width: 1140px;
  padding: 0 10px;
  box-sizing: border-box;
}

.about-me__title-stage {
  padding-top: 110px;
  margin-bottom: 66px;
}

/* Понимаю что отклонился от макета, но если добавить тот же текст, то отклонений нет */
/* Как по мне так приличнее когда текста не много */
.about-me__conteiner {
  display: grid;
  grid-template-areas:
  'content img'
  'links img';
  /* display: flex;
  justify-content: space-between;*/
  margin-bottom: 100px;
}

.about-me__content {
  grid-area: content;
}

.about-me__name {
  margin: 0;
  margin-bottom: 18px;
  max-width: 600px;

  font-family: Inter;
  font-weight: 400;
  color: black;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__title {
  margin: 0;
  margin-bottom: 26px;
  max-width: 600px;

  font-family: Inter;
  font-weight: 500;
  color: black;
  font-size: 18px;
  line-height: 20px;
}

.about-me__desc {
  margin: 0;
  margin-bottom: 55px;
  max-width: 600px;

  font-family: Inter;
  font-weight: 400;
  color: black;
  font-size: 14px;
  line-height: 22px;
}

.about-me__list {
  grid-area: links;
  align-self: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-me__avatar {
  grid-area: img;
  max-width: 270px;
  width: 100%;
  max-height: 327px;
  object-fit: cover;
}
