.movie__delete {
  height: 14px;
  width: 12px;
  object-fit: cover;

  cursor: pointer;
  background-color: inherit;
  border: none;
  background-image: url(../../../../images/svg/movies-delete-icon.svg);
}
