.header__navigation {

}

.header__navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__navigation-item {
  margin-right: 16px;
}

.header__navigation-link {
  
}
